<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Nutrition - Résultats</title>

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link href="assets/img/icon.ico" rel="icon">
    <link href="assets/css/index.css" rel="stylesheet">
    <link href="assets/css/resultsOverview.css" rel="stylesheet">
</head>

<body>
<nav class="navbar">
    <div class="container-flex">

        <div class="toggle-theme">
            <input class="checkbox" id="toggleTheme" type="checkbox">
            <label class="label" for="toggleTheme">
                <i class="fas fa-moon"></i>
                <i class='fas fa-sun'></i>
                <div class='ball'></div>
            </label>
        </div>

        <ul class="navbar-nav">

            <li class="nav-item hover-underline-animation">
                <a class="nav-link" href="index.php">
                    Répondre au sondage
                </a>
            </li>

            <li class="nav-item hover-underline-animation">
                <a class="nav-link" href="resultsOverview.php">
                    Visualiser les résultats
                </a>
            </li>
        </ul>
    </div>
</nav>

<main class="container">
    <h1 class="title">Visualiser les résultats</h1>
    <h3 class="subtitle">Ci-dessous, un aperçu et une analyse des résultats récoltés.</h3>
    <hr class="lineBreak">
    <section class="section-chart" id="ageSection">
        <div class="titleChart" id="titleChartAge">
            Répartition des types d'aliments par âge, actuellement :
            <div class="age-selector" id="ageSelector">
                <span value="all" class="age-selected" id="ageSelected">Tous les âges</span>

                <div id="ageContext" class="age-choices-context">
                    <ul class="age-choices" id="ageChoices">
                        <li value="all">Tous les âges</li>
                    </ul>
                </div>

            </div>
        </div>
        <canvas id="ageChart"></canvas>

        <label class="select-age" style="display: none">
            <label for="filterAge">Filtrer par âge</label>
            <select class="selectAge" id="filterAge" name="filterAge">
                <option selected value="all">Tous les âges</option>
            </select>
        </label>
    </section>

    <section class="section-chart" id="schoolSection">
        <div class="titleChart" id="titleChartSchoolMoment">Répartition des types d'aliments consommés par niveau
            scolaire et moment de la journée
        </div>
        <canvas id="schoolMomentChart"></canvas>

    </section>
    <div class="infos">
        Quelques infos :
        <ul id="informations">
            <li>
                <p id="mean-kcal"></p>
            </li>
            <li>
                <p id="most-aliment"></p>
            </li>
            <li>
                <p id="most-age"></p>
            </li>
            <li>
                <p id="most-school"></p>
            </li>
            <li>
                <p id="type-aliment"> Le type d'aliments : </p>
                <ul id="mean-aliments-type">

                </ul>
            </li>
        </ul>


    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="assets/js/blackMode.js"></script>
<script src="assets/js/getPythonData.js"></script>
<script src="assets/js/generateColors.js"></script>
<script async src="assets/js/charts/ageChart.js"></script>
<script async src="assets/js/charts/schoolMomentChart.js"></script>
<script async src="assets/js/charts/someInformations.js"></script>

</body>
</html>