.container {
    width: 60%;
}

.lineBreak {
    margin-top: 45px;
}

.section-chart {
    position: relative;
    margin-bottom: 0;
}

.titleChart {
    margin-top: 5vh;
    text-align: center;
    font-size: x-large;
    width: 100%;

    position: relative;
    z-index: 2;
}

#schoolSection{
    margin-bottom: 8%;
    margin-top: -10vh;
}

#titleChartAge{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5vh;
    margin-bottom: -17vh;
}

#titleChartSchoolMoment {
    margin-bottom: 32px;
    margin-top: 0;
}

#ageChart {
    width: 100% !important;
    height: 100% !important;
    margin: -5vh auto 0;
}

.select-age {
    position: absolute;
    bottom: 8%;
    left: 36%;
    transform: translateX(-50%);
}

.infos{
    font-style: normal;
    margin-top: 0;
    margin-bottom: 5%;
    font-size:x-large;
    text-align: justify;
    width:100%
}

#informations{
    font-size:large;
    margin-top: 3%;
    margin-left: -2%;

}

#informations > li{
    margin-bottom: 3%;
}

#mean-aliments-type > li{
    margin-top: 2%;
    margin-left: 4%;
}

#type-aliment{
    margin-bottom: 3%;
}

/** **** **** **/

.age-selector {
    position: relative;
    display: inline-block;
}

.age-choices {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.age-choices.show {
    display: block;
}

.age-selected {
    opacity: 1;
    text-decoration: underline;
    text-decoration-color: var(--base-color);
    cursor: pointer;
}

.age-selected.hide {
    opacity: 0;
}

.age-selected:hover {
    text-decoration-color: var(--base-background-color);
}

.age-choices > div {
    position: relative;
}

.age-choices li {
    list-style: none;
}